*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  overflow: hidden;
  max-width: 100%;
  background-color: #433D41;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: none;
  z-index: 5;
}

/*Navigation Bar*/
.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  color: #FFF;
  height: 50px;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
}

.top-nav img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  margin-right: 0.5em;
  width: 110px;
  padding: 0.125em;
  height: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.menu a {
  margin: 50px;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .menu a {
    margin: 0px;
  }
}

.top-nav ul li a {
  position: relative;
  color: #8C5E52;
  font-size: 20px;
  padding: 5px 0;
}

.top-nav ul li a::before {
  position: absolute;
  content: '';
  left: 0;
  top: 10%;
  height: 3px;
  width: 100%;
  background: #8C5E52;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear;
}

.top-nav ul li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 80px;
  margin-left: 40px;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .dropdown {
    margin-right: 25px;
  }
}

.dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DCD7D4;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropdown-content a {
  float: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Hamburger Menu*/
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

/*Creation and the Animation of the menu button*/
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #8C5E52;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  border-radius: 2px;
}

/*top line of hambruger icon*/
.menu-button::before {
  content: '';
  margin-top: -8px;
}

/*bottom line of hambruger icon*/
.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotateZ(45deg) scaleX(0.6) translate(1px, 9.5px);
          transform: rotateZ(45deg) scaleX(0.6) translate(1px, 9.5px);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotateZ(315deg) scaleX(0.6) translate(1px, -9.5px);
          transform: rotateZ(315deg) scaleX(0.6) translate(1px, -9.5px);
}

/*Animation of Hamburger Menu*/
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    z-index: 5;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: -80px;
    -webkit-transition: 700ms;
    transition: 700ms;
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: 700ms;
    transition: 700ms;
    z-index: 2;
    margin-right: 0;
    margin-top: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menu-toggle:checked ~ .menu li a {
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #8C5E52;
    background-color: #433D41;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(../image/image%2010.png);
  background-position: center top;
  background-size: cover;
  text-align: center;
}

.container-item {
  width: 200px;
  text-align: center;
  margin-top: 2%;
}

.container-item-1 {
  font-size: 28px;
  font-weight: 100;
  margin-top: 200px;
  text-align: center;
  color: #DCD7D4;
  width: 70%;
  margin-left: 100px;
  letter-spacing: 25px;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  .container-item-1 {
    margin-top: 60px;
  }
}

.container-item-2 {
  display: inline-block;
  width: 100%;
}

.iframe-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 80.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 19%;
  right: 5%;
  width: 90%;
  height: 70%;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #DCD7D4;
  padding-bottom: 15%;
  font-size: 24px;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #433D41), color-stop(70%, #433D41), color-stop(30%, #DCD7D4), color-stop(30%, #DCD7D4));
  background: linear-gradient(to right, #433D41 70%, #433D41 70%, #DCD7D4 30%, #DCD7D4 30%);
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #433D41), color-stop(70%, #433D41), color-stop(30%, #DCD7D4), color-stop(30%, #DCD7D4));
    background: linear-gradient(to bottom, #433D41 70%, #433D41 70%, #DCD7D4 30%, #DCD7D4 30%);
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #433D41), color-stop(70%, #433D41), color-stop(30%, #DCD7D4), color-stop(30%, #DCD7D4));
    background: linear-gradient(to bottom, #433D41 70%, #433D41 70%, #DCD7D4 30%, #DCD7D4 30%);
  }
}

.heading2 {
  margin-top: 290px;
  letter-spacing: 15px;
  text-align: center;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img1 {
  margin-left: 150px;
}

.img1 img {
  position: relative;
  right: 70px;
  top: 150px;
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .img1 img {
    position: none;
    right: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .img1 img {
    position: none;
    right: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .img1 {
    margin: 0px;
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .img1 {
    margin-left: 100px;
  }
}

.container3 {
  background-color: #DCD7D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 300px;
  padding-bottom: 300px;
  color: #433D41;
  text-align: center;
  font-size: 18px;
  letter-spacing: 18px;
  position: relative;
  z-index: 2;
}

.container3 h1 {
  background-color: white;
  width: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.container3 h1::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 6%;
  right: 55%;
  background: #433D41;
  z-index: -1;
  height: 7em;
}

.container3 h1::after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 27%;
  left: 60%;
  right: 6%;
  bottom: 0;
  background: #433D41;
  z-index: -1;
  height: 7em;
}

.container4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #DCD7D4;
  letter-spacing: 10px;
}

.container4 .states {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
  background-color: #B1A39A;
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .container4 .states {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    border: 1px solid white;
    background-color: #B1A39A;
    width: 100%;
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .container4 .states {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
    border: 1px solid white;
    background-color: #B1A39A;
  }
}

.container4 .states .left {
  margin-left: 15%;
  text-align: center;
}

.container4 .states .left-long {
  margin-right: 17%;
  text-align: center;
}

.container4 .states .right {
  margin-left: 12%;
  text-align: center;
}

.container4 .states .SHJ {
  margin-left: -32%;
}

.container4 .states .AD {
  margin-left: -26%;
}

.container4 .states .FUJ {
  margin-left: -30%;
}

.container4 .states .UAQ {
  margin-left: -13%;
}

.container4 .states .right-img {
  margin-left: 25%;
}

.container4 .states .right-img-rak {
  margin-right: -23%;
}

.container4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: #dcd7d4;
  background: linear-gradient(174deg, #dcd7d4 0%, #bab4b3 18%, #a7a1a1 23%, #9b9595 28%, #938d8e 32%, #938d8e 34%, #918b8c 35%, #928c8d 38%, #908a8b 40%, #8e8889 44%, #433d41 68%, #433d41 80%, #433d41 96%, #433d41 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
}

.container4::after {
  content: '';
  position: absolute;
  top: 86.6%;
  left: 0;
  width: 100%;
  height: 300px;
  background: #433d41;
  background: linear-gradient(170deg, #433d41 18%, #433d41 18%, #433d41 40%, #433d41 42%, #8e8889 57%, #908a8b 60%, #928c8d 61%, #918b8c 62%, #938d8e 65%, #938d8e 67%, #9b9595 69%, #a7a1a1 74%, #bab4b3 81%, #dcd7d4 99%);
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0);
  z-index: -3;
}

.container5 {
  background-color: #DCD7D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 300px;
  padding-bottom: 300px;
  color: #DCD7D4;
  text-align: center;
  font-size: 32px;
  letter-spacing: 18px;
  position: relative;
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .container5 {
    font-size: 18px;
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .container5 {
    font-size: 28px;
  }
}

.container5 h1 {
  background-image: url("../image/image 13.png");
  background-size: cover;
  text-align: center;
  width: 80%;
  padding-top: 17.5%;
  padding-bottom: 17.5%;
}

.part5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #DCD7D4;
  letter-spacing: 10px;
  position: relative;
}

.part5 .act-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.part5 .act-container::before {
  content: '';
  position: absolute;
  left: -40px;
  top: 50px;
  right: -40px;
  bottom: 50px;
  background-color: #B1A39A;
  z-index: -1;
}

.part5 .act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .part5 .act {
    margin-left: 30px;
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .part5 .act {
    margin-left: 30px;
  }
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .part5 .act img {
    width: 50%;
    margin-left: 30px;
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .part5 .act img {
    width: 60%;
    margin-left: 30px;
  }
}

.part5 .act #act1 {
  margin-right: 5%;
  text-align: center;
  position: relative;
}

.part5 .act #act2 {
  margin-left: 5%;
  text-align: center;
  position: relative;
}

.part5 .act #act3 {
  margin-right: 10%;
  text-align: center;
  position: relative;
}

.part5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: #dcd7d4;
  background: linear-gradient(174deg, #dcd7d4 0%, #bab4b3 18%, #a7a1a1 23%, #9b9595 28%, #938d8e 32%, #938d8e 34%, #918b8c 35%, #928c8d 38%, #908a8b 40%, #8e8889 44%, #433d41 68%, #433d41 80%, #433d41 96%, #433d41 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: -3;
}

.part6 {
  padding-top: 20%;
  text-align: center;
  color: #DCD7D4;
}

#part6-top {
  font-size: 100px;
}

#quote {
  font-size: 20px;
  letter-spacing: 8px;
  margin-left: 25%;
  margin-right: 25%;
}

#profile {
  margin-top: 3%;
}

#name {
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: bold;
}

#status {
  font-size: 20px;
  letter-spacing: 7px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15%;
  background-color: #B1A39A;
  height: 100px;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #DCD7D4;
  font-weight: bold;
  letter-spacing: 18px;
}
/*# sourceMappingURL=exploresample.css.map */