*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  overflow: hidden;
  max-width: 100%;
  background-color: #DCD7D4;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/*Navigation Bar*/
.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  color: #FFF;
  height: 50px;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
}

.top-nav img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  margin-right: 0.5em;
  width: 110px;
  padding: 0.125em;
  height: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu > li a {
  position: relative;
  color: #8C5E52;
  font-size: 1rem;
  padding: 0.3125em 0.625em;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: 120px;
}

.menu > li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #8C5E52;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.menu > li a:hover :active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 80px;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  .dropdown {
    margin-right: 0px;
  }
}

.dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DCD7D4;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #8C5E52;
  color: #DCD7D4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Hamburger Menu*/
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

/*Creation and the Animation of the menu button*/
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #8C5E52;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  border-radius: 2px;
}

/*top line of hambruger icon*/
.menu-button::before {
  content: '';
  margin-top: -8px;
}

/*bottom line of hambruger icon*/
.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotateZ(45deg) scaleX(0.6) translate(1px, 9.5px);
          transform: rotateZ(45deg) scaleX(0.6) translate(1px, 9.5px);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotateZ(315deg) scaleX(0.6) translate(1px, -9.5px);
          transform: rotateZ(315deg) scaleX(0.6) translate(1px, -9.5px);
}

/*Animation of Hamburger Menu*/
@media screen and (min-width: 0px) and (max-width: 800px) {
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    z-index: 5;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: -80px;
    -webkit-transition: 700ms;
    transition: 700ms;
    z-index: -1;
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: 700ms;
    transition: 700ms;
    z-index: 2;
    margin-right: 0;
    margin-top: 0px;
  }
  #menu-toggle:checked ~ .menu li a {
    margin-right: 0;
  }
  .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #8C5E52;
    background-color: #433D41;
  }
}

.container-item {
  text-align: center;
  background-color: #B1A39A;
  display: inline-block;
  width: 100%;
}

.iframe-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 65.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 90%;
  height: 85%;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #DCD7D4;
  padding-bottom: 20%;
  margin-top: 5%;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #433D41), color-stop(45%, #433D41), color-stop(0%, #DCD7D4), to(#DCD7D4));
  background: linear-gradient(to right, #433D41 30%, #433D41 45%, #DCD7D4 0%, #DCD7D4 100%);
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #433D41), color-stop(70%, #433D41), color-stop(30%, #DCD7D4), color-stop(30%, #DCD7D4));
    background: linear-gradient(to bottom, #433D41 70%, #433D41 70%, #DCD7D4 30%, #DCD7D4 30%);
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #433D41), color-stop(70%, #433D41), color-stop(30%, #DCD7D4), color-stop(30%, #DCD7D4));
    background: linear-gradient(to bottom, #433D41 70%, #433D41 70%, #DCD7D4 30%, #DCD7D4 30%);
  }
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #433D41;
  width: 8%;
  position: absolute;
  left: 60%;
  margin-top: 2%;
  height: 100px;
  z-index: 0;
}

.box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #B1A39A;
  width: 8%;
  position: absolute;
  left: 55%;
  height: 100px;
}

.img1 {
  margin-right: 150px;
  background-color: #B1A39A;
  text-align: center;
  margin-left: 3%;
  margin-top: 90px;
}

.img1 img {
  background-color: #DCD7D4;
  width: 90%;
  height: 25em;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .img1 {
    margin: 0px;
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .img1 {
    margin-left: 100px;
  }
}

.heading2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #B1A39A;
  position: relative;
  font-size: 24px;
  padding: 40px;
  height: 100%;
  right: 70px;
  top: 18em;
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .heading2 {
    position: none;
    right: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .heading2 {
    position: none;
    right: 0px;
    top: 0px;
  }
}

.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  color: #433D41;
  letter-spacing: 5px;
}

.container .states {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: -10px;
}

.container .states a {
  width: 100%;
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  font-size: 1.5rem;
  opacity: 1;
}

.container .states:hover a {
  opacity: 1;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.container .states img {
  width: 100%;
  border-top: 20px solid #433D41;
  border-right: 20px solid #433D41;
  border-left: 20px solid #433D41;
}

@media screen and (min-width: 0px) and (max-width: 605px) {
  .container .states {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    border: 20px solid #433D41;
    width: 100%;
  }
}

@media screen and (min-width: 606px) and (max-width: 1000px) {
  .container .states {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    border: 20px solid #433D41;
    width: 100%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15%;
  background-color: #433D41;
  height: 100px;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #DCD7D4;
  font-weight: bold;
  letter-spacing: 18px;
}
/*# sourceMappingURL=selectedemiratesUAQ.css.map */